{% extends "layout.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2>Iniciar Sesión</h2>
                <form method="POST" action="{{ url_for('login') }}">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.correo_electronico.label(class="form-control-label") }}
                        {{ form.correo_electronico(class="form-control", placeholder="Correo Electrónico", required=true) }}
                    </div>
                    <div class="form-group">
                        {{ form.contrasena.label(class="form-control-label") }}
                        {{ form.contrasena(class="form-control", placeholder="Contraseña", required=true) }}
                    </div>

                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
