{% extends "layout.html" %}

{% block content %}
<div class="container mt-5 mb-5 pb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="mb-4">Registro</h2>
            <form method="POST" action="{{ url_for('registro') }}">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.nombre.label(class="form-control-label") }}
                    {{ form.nombre(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.apellido.label(class="form-control-label") }}
                    {{ form.apellido(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.correo_electronico.label(class="form-control-label") }}
                    {{ form.correo_electronico(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.contrasena.label(class="form-control-label") }}
                    {{ form.contrasena(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.confirmar_contrasena.label(class="form-control-label") }}
                    {{ form.confirmar_contrasena(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.fecha_nacimiento.label(class="form-control-label") }}
                    {{ form.fecha_nacimiento(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.numero_telefono.label(class="form-control-label") }}
                    {{ form.numero_telefono(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.direccion.label(class="form-control-label") }}
                    {{ form.direccion(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.genero.label(class="form-control-label") }}
                    {{ form.genero(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.ocupacion.label(class="form-control-label") }}
                    {{ form.ocupacion(class="form-control") }}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
